/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
body {
    padding: 0 5%;
}

a {
    color: grey;
    text-decoration: none;
}

h1 {
    font-size: 1.5em;
}

p, li {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
}

ul {
    list-style: square;
    list-style-position: inside;
}

a:hover {
    text-decoration: underline;
}

.image-container {
    /*display: inline-block;*/
    vertical-align: middle;
}

.large {
    font-size: 500%;
    letter-spacing: 4px;
}

.button-style {
    display: inline-block;
    border: 1px solid black;
    color: black;
    padding: 4px 40px;
    border-radius: 4px;
    background: white;
    margin-top: 20px;
}

@keyframes nav-anim {
    to {
        text-shadow: 0 0 2px #800000C0;
    }
}

header {
	display: flex;
	justify-content: space-between;
    padding: 20px 0;
    position: fixed;
	width: 90%;
	background: #ffffffc0;
}

header nav {
	display: flex;
	flex-grow: 3;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

header .image-container {
	flex-grow: 1;
	text-align: center;
}

header image-container img {
	margin-right: 60px;
}

header nav a:hover {
    animation-name: nav-anim;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#header-bottom {
    padding-top: 100px;
    padding-bottom: 60px;
    border-bottom: 1px solid black;
}

#header-bottom h1 {
    margin-top: 20px;
}

.services-header-img {
    max-width: 100%;
}

#middle {
    margin-top: 60px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

#middle div {
    background: #f0f0f0;
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 40px;
    min-width: 420px;
    max-width: 48%;
}

#bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#bottom div, #bottom img {
    min-width: 420px;
    max-width: 48%;
}

footer {
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
}

@media (max-width: 800px) {
    header {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    header nav {
        flex-grow: 0;
        width: 100%;
        margin-top: 20px;
    }

    header .image-container {
        flex-grow: 0;
    }

    #header-bottom {
        padding-top: 120px;
    }

    #header-bottom .image-container {
        display: none;
    }
}

@media (max-width: 500px) {
    header {
        position: static;
        width: 100%;
        padding-bottom: 0;
        border-bottom: 1px solid black;
        background: none;
    }
    
    header nav {
        flex-wrap: wrap;
        flex-direction: column;
    }

    header nav a {
        text-align: center;
        width: 100%;
        font-size: 1.4em;
        padding: 15px 0;
        border-top: 1px solid black;
    }

    #header-bottom {
        padding-top: 0;
        margin-top: 30px;
    }

    .column {
        flex-direction: column;
    }

    .column div {
        margin: 40px 0 0;
    }

    .column .first-col {
        margin: 0;
    }
}